main {
    min-height: calc(100vh - 160px);
  }

.card {
margin: auto 1rem 1rem 1rem;
overflow: hidden; 
padding: 2%;
background-color: rgb(234, 232, 232);
border-color: black;
max-height: max-content;}

.card-img-top {
  height: 20rem;
  object-fit: cover;
  }

.card img{
  width: 100%;
}

.card-body {
display: flex;
flex-direction: column; 
justify-content: space-between;
}

.card-text {
flex-grow: 1; 
overflow-y: auto;
margin-top: 1rem; 
}

#description {
  flex-grow: 1; 
  max-height: 12rem; 
  overflow-y: auto; 
  margin-top: 1rem; 
}

#contenedor {
display: flex;
flex-wrap: wrap;
}

.text-muted {
    margin-top: 0.5rem;
    flex-shrink: 0;
    white-space: nowrap;
}

#btnBuscar{
  background-color: rgb(61, 61, 61);
}
